*{
    margin:0;
    padding:0;
    font-family:source han sans,microsoft yahei,Helvetica,Arial,sans-serif;
}
html{
    font-size:16px;
}
.hbody{
    width:65%;
    margin:0 auto;
    padding:0 10px;
}
.hbody>div:first-child{
    margin:2.5rem 0 1.5rem 0;

}
.hbody div:first-child>a{
    color:#333;
    font-size:.75rem;
}
.hbody>div:first-child>a:hover{
   text-decoration: underline;
}
.hbody>div:first-child>a:first-child::after{
    content: "/";
    display:inline-block;
    margin-left:.4rem;
}
/*左边导航栏*/
.left{
    width:23.7%;
    background:#f2f2f2;
    float: left;
    margin-bottom:3rem;
}
.left>h1{
    padding:1rem 0 1rem 0.99rem;
    font-size:2.5rem;
    font-weight: 500;
}
.left>#man{
    padding:0 1rem;
    margin-right:0;
}
/*导航栏上半部分男装*/
.man-top{
    margin-bottom:1.25rem;
}
.man-top>a>span{  
    font-size:0.935rem;
    color:#333;
}
.man-top::after{
    content: "";
    border-top:1px dashed #aaa;
    border-bottom:1px dashed #aaa;
    display:block;
    margin:8px 0 7px;
    height:2px;
}
.man-top>span:nth-child(2){
    display:inline-block;
    width:16px;
    height:16px;
    background-image:url("../img/sjicon.svg");
    background-size:16px 16px;
    float:right;
    margin-right:.2rem;
    transform:rotate(0);
}
.men{
    margin-bottom:1rem;
    display:none;
}
.men>li{
    padding:0  0  .6rem 2.3rem;
}
ul>li>a{
    color:#333;
    font-size:0.935rem;
}
.men-bottom{
    padding: .5rem 0 2rem;
}
.men-bottom>h2{
    padding-bottom:.7rem;
}
.color{
    padding:0 2px 15px;
    margin-bottom:30px;
    display:none;
}
.color>li{
    display:inline-block;
    margin-right:20px;
    padding-left:5px 
}
.size{
    width:100%;
    padding-left:5px;
    margin-bottom:25px;
}
.size li{
    display:inline-block;
    width:22%;
    line-height:1.875rem;
    border:1px solid #d6d6d6;
    box-sizing:border-box;
    text-align: center;
    background:#fff;
    margin:8px 1px;
}
.price{
    width:100%;
    margin-bottom:25px;
}
.price li{
    width:48%;
    display:inline-block;
    box-sizing:border-box;
    text-align:center;
    line-height:2.25rem;
    border:1px solid #d6d6d6;
    background:#fff;
    margin:8px 1px;
}
.word li{
    width:48%;
    display:inline-block;
    border:1px solid #d6d6d6;
    box-sizing:border-box;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align:center;
    line-height: 2.25rem;
    background-color:#fff;
}
.right{
    width:74.6%;
    float:right;
}
.right>h1{
    font-size:26px;
    margin:18px 0;
    line-height: 39px;
}
#sort{
    width:18.8%;
    height:1.875rem;
    border:1px solid #aaaaaa;
    border-radius: 4px;
    text-indent: .2rem;
    background-image: url("../img/sjicon.svg");
    background-position:95% center;
    background-size:16px 16px;
    background-repeat: no-repeat;
    -webkit-appearance:none;
}
#show{
    width:12.5%;
    height:1.875rem;
    border:1px solid #aaaaaa;
    border-radius:4px;
    text-indent: .2rem;
    margin-left:2rem;
    background-image: url("../img/sjicon.svg");
    background-position:95% center;
    background-size:16px 16px;
    background-repeat: no-repeat;
    -webkit-appearance:none;
}
.page{
    width:58%;
    float:right;
    display:inline-block;
}
.page svg{
    vertical-align: middle;
}
.page span{
    color:#666;
    margin-left:2.5rem;
    font-size: .875rem;
}
.list{
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    margin-left:2.2rem;
}
.list>li{
    float: left;
    width:30px;
    line-height: 30px;
    text-align: center;
}
.list>li:first-child a,.list>li:last-child a{
    padding:0;
}
.list>li>a{
    padding:5px 10px;
    border-radius: 4px;
}
.list>li:first-child,.list>li:last-child{
    background:#e5e5e5;
    margin:0 7px;
}
.background{
    background: #444444;
    color:#fff;
}