*{
 margin:0px;
 padding:0px;
 list-style:none;
 text-decoration:none;
 outline:none;
 font-family:source han sans,microsoft yahei,Helvetica,Arial,sans-serif;
}
.head{
 width:100%;
 height:156px;
}
.head_shang{
 height:36px;
 width:100%;
 background:#333;
}
.ul_shang{
 float:right;
margin-right:353px;
}
.ul_shang li{
font-size:10px;
float:left;
padding-top:2px;
padding-left:38px;
line-height:36px;
}

.ul_shang li img{
position:relative;
top:5px;
left:1px;
}
.ul_shang li a{
color:#fff;
}
.head_xia{
height:120px;
background:#000;
}
.xia{
width:1200px;
height:120px;
margin:0 auto;
padding:0 10px;
position:relative;
}
.img{
width:178px;
height:98px;
position:absolute;
top:4px;
left:10px;
z-index: 10;
}
.one{
position:absolute;
top:44px;
left:218px;
}
.one li {
float:left;
}
.one li:nth-child(1),.one li:nth-child(2),.one li:nth-child(3),.one li:nth-child(4),.one li:nth-child(5),.one li:nth-child(6){
    border-right:0.5px solid #fff;
}
.one>li>a{
font-size:18.5px;
color:#fff;
font-weight:700;
padding:18px 26.5px 25px;
}
.sousuo1{
position:absolute;
top:40px;
left:935px;
}
.sousuo2{
width:235px;
border:1px solid #000;
border-right:0;
height:30px;
border-top-left-radius:20px;
border-bottom-left-radius:20px;
padding-left:10px;
}
.tubiao{
float:right;
height:30px;
border:1px solid #000;
border-left:0;
border-top-right-radius:20px;
border-bottom-right-radius:20px;
}
.head_zhong{
background:#444;

}
.zhong1{
width:1200px;
height:40px;
padding:0 10px;
margin:0 auto;
}
.zhong1 p {
text-align:center;
line-height:40px;
font-size:18px;

}
.head_span{
color:#ffffff;
}
.span2{
color:#FF0000;
}
ul.one>li>div.xiala{
    position:absolute;
    top:45px;
    right:-265px;
    width:1030px;
    background:#F2F2F2;
    display:none;
}
.xiala{
    display: flex;
}
div.xiala>div.hleft,div.hzhong{
    width: 12%;
    margin: 1.5rem 0 1rem 0;
    padding:0 1rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

}
div.xiala>div.hleft{
    border-right:2px solid #CFCFCF;
}
.xiala>div>a{
    color: #000;
    padding:6px ;
    font-size:15px;
}
.xiala>div>a:hover{
    text-decoration: underline
}
.xiala>div>a:first-child{
    font-weight: 800;
    padding-top:0;
}
.xiala>.hleft:first-child>a:first-child{
    align-self: flex-start;
}
.xiala>div.hright{
    padding-left:310px;
    display: flex;
    flex-flow:column nowrap;
    justify-content:center;
}
.xiala>div.hright a{
    font-size:17px;
    padding:1.5rem 0 2.5rem 0;
}
.one li:nth-child(3) div.xiala .hright, li:nth-child(4) div.xiala .hright, li:nth-child(5) div.xiala .hright{
    padding-left:445px;
    padding-top:50px;
}
.xiala>ul{
    clear: both;
    width:12%;
    display:flex;
    flex-flow:column nowrap;
    padding:1rem 1.5rem 1.5rem 2rem;
}
.xiala>ul>li{
  padding:6px;
}
.xiala>ul>li>a{
    color:#000;
    font-size:15px;
    padding:0;
}
.xiala>ul>li>a:hover{
    text-decoration: underline;
}
.one li:nth-child(6) div.xiala>ul{
    width:10%;
    align-items: center;
}
.one li:nth-child(6) div.xiala>ul>li:first-child,.one li:nth-child(6) div.xiala>ul>li:last-child{
    align-self: flex-start;
}
li:nth-child(6) div.xiala .hright{
    padding-left:465px;
    padding-top:50px;
}
.one li:nth-child(7) div.xiala>ul:first-child{
    width:8%;
}
.one li:nth-child(7) div.xiala>ul:first-child>li{
    border-right:1px solid #CFCFCF;
    font-size:15px;
}
.one li:nth-child(7) div.xiala>ul:nth-child(2){
    padding-left:0.5rem;
}
li:nth-child(7) div.xiala .hright{
    padding-top:50px;
    padding-left:335px;
}
.mon{
    background:#fff;
    color:#000 !important;
    text-decoration: underline;
    transition:all .1s linear;
}